<ion-content class="general">
  <ion-header>
    <ion-toolbar>
      <ion-title>Conversor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <!-- Selector De: -->
      <ion-item>
        <ion-label>De:</ion-label>
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('favoritosMonedas', 'from')"
          ><ion-icon name="star" slot="start"></ion-icon>Monedas</ion-button
        >
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('favoritosCryptos', 'from')"
          ><ion-icon name="star" slot="start"></ion-icon>Cryptos</ion-button
        >
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('monedas', 'from')"
        >
          Monedas
        </ion-button>
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('cryptos', 'from')"
        >
          Criptomonedas
        </ion-button>
        <div *ngIf="fromCurrency" class="selected-currency">
          <span class="parSeleccionado"
            >{{fromCurrency.name}} - {{fromCurrency.id ??
            fromCurrency.code}}</span
          >
          <ion-button
            class="cancelarBtn"
            fill="clear"
            (click)="limpiarSeleccion('from')"
          >
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-item>

      <!-- Búsqueda y lista "De:" -->
      <div *ngIf="showFromSearch" class="search-container">
        <ion-searchbar (ionInput)="buscar($event)" placeholder="Buscar...">
        </ion-searchbar>
        <ion-list class="currency-list">
          <ion-item
            *ngFor="let currency of filteredCurrencies"
            (click)="seleccionarMoneda(currency)"
            button
          >
            {{currency.name}} - {{currency.id ?? currency.code}}
          </ion-item>
        </ion-list>
      </div>

      <!-- Selector A: -->
      <ion-item>
        <ion-label>A:</ion-label>
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('favoritosMonedas', 'from')"
          ><ion-icon name="star" slot="start"></ion-icon>Monedas</ion-button
        >
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('favoritosCryptos', 'from')"
        >
          <ion-icon name="star" slot="start"></ion-icon>
          Cryptos
        </ion-button>
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('monedas', 'to')"
        >
          Monedas
        </ion-button>
        <ion-button
          class="seleccionadorBtn"
          expand="block"
          (click)="seleccionarTipo('cryptos', 'to')"
        >
          Criptomonedas
        </ion-button>
        <div *ngIf="toCurrency" class="selected-currency">
          <span class="parSeleccionado"
            >{{toCurrency.name}} - {{toCurrency.id ?? toCurrency.code}}</span
          >
        </div>
      </ion-item>

      <!-- Búsqueda y lista "A:" -->
      <div *ngIf="showToSearch" class="search-container">
        <ion-searchbar (ionInput)="buscar($event)" placeholder="Buscar...">
        </ion-searchbar>
        <ion-list class="currency-list">
          <ion-item
            *ngFor="let currency of filteredCurrencies"
            (click)="seleccionarMoneda(currency)"
            button
          >
            {{currency.name}} - {{currency.id ?? currency.code}}
          </ion-item>
        </ion-list>
      </div>
    </ion-list>

    <!-- Resultado de la conversión -->
    <ion-card
      *ngIf="conversionResult && fromCurrency && toCurrency"
      class="conversion-result"
    >
      <ion-card-content>
        $ {{amount}} {{fromCurrency.name}} - {{fromCurrency.id ??
        fromCurrency.code}} = $ {{conversionResult | number:'1.0-8'}}
        {{toCurrency.name}} - {{toCurrency.id ?? toCurrency.code}}
      </ion-card-content>
    </ion-card>

    <!-- Calculadora -->
    <ion-content class="calculadora">
      <div class="calculator-container">
        <ion-input
          readonly
          [value]="amount"
          class="calculator-display"
        ></ion-input>

        <div class="calculator-grid">
          <ion-button
            *ngFor="let button of calculatorButtons"
            (click)="handleCalculatorInput(button.value)"
          >
            {{button.display}}
          </ion-button>
        </div>
      </div>
    </ion-content>
    <ion-button class="btnDescargar" (click)="descargarPdf()"
      >Descargar comprobante</ion-button
    >
  </ion-content>
</ion-content>
