<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!isLoginPage">
    <ion-tab-button (click)="navigateToTab1()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToTab2()">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Criptos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToTab3()">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Conversor</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
