<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Seleccionar Tipo</ion-title>
    <div class="segment-container">
      <ion-segment [(ngModel)]="sliderTipo">
        <ion-segment-button value="monedas">
          <ion-label>Monedas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cryptos">
          <ion-label>Cryptos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    *ngIf="sliderTipo === 'monedas'"
    (ionInput)="buscador($event)"
    placeholder="Buscar moneda..."
  >
  </ion-searchbar>

  <ion-searchbar
    *ngIf="sliderTipo === 'cryptos'"
    (ionInput)="buscadorCrypto($event)"
    placeholder="Buscar crypto..."
  >
  </ion-searchbar>

  <div *ngIf="sliderTipo === 'monedas'" class="lista-contenedor">
    <div class="contenedorItem" *ngFor="let moneda of monedas">
      <div class="moneda-info">
        <h2>{{ moneda.name }}</h2>
        <p>{{ moneda.id }}</p>
      </div>
      <div class="botones">
        <ion-button class="btnVer" (click)="abrirDetalles(moneda)">
          Ver
        </ion-button>
        <ion-icon
          [name]="moneda.esFavorito ? 'star' : 'star-outline'"
          (click)="SeleccionarFavorito(moneda)"
        >
        </ion-icon>
      </div>
    </div>
  </div>

  <div *ngIf="sliderTipo === 'cryptos'" class="lista-contenedor">
    <div class="contenedorItem" *ngFor="let crypto of cryptos">
      <div class="moneda-info">
        <h2>{{ crypto.name }}</h2>
        <p>{{ crypto.code }}</p>
      </div>
      <div class="botones">
        <ion-button class="btnVer" (click)="abrirDetallesCrypto(crypto)">
          Ver
        </ion-button>
        <ion-icon
          [name]="crypto.esFavorito ? 'star' : 'star-outline'"
          (click)="SeleccionarFavoritosCrypto(crypto)"
        >
        </ion-icon>
      </div>
    </div>
  </div>
</ion-content>
