ion-toolbar {
  --ripple-color: transparent;
  --background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: black;
  background-image: url("../../../assets/img/crypto-background.jpg");
  background-position: center;
}

.buscador-fijo {
  background-color: rgb(20, 20, 20);
}

ion-title {
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

ion-content {
  font-weight: bolder;
}

ion-searchbar {
  --background: rgb(53, 53, 53);
  font-weight: bold;
  color: white;
}

ion-item {
  --background: rgb(20, 20, 20);
  font-weight: bold;
  color: white;
}

ion-label {
  font-weight: bolder;
  font-size: 1rem;
}

.contenedorItem {
  display: flex;
  justify-content: space-between;
}

.botones {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  gap: 10px; /* Espacio entre los botones */
  padding-left: 1rem;
}

.btnVer {
  --background: #ffd000;
  font-weight: bold;
  color: rgb(20, 20, 20);
  font-size: 1rem;
  height: 1rem;
  width: 3rem;
}

ion-button {
  --background: rgb(20, 20, 20);
  ion-icon {
    font-weight: bold;
    color: #ffd000;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

ion-title {
  margin-top: -1rem;
}

ion-segment {
  background-color: rgb(20, 20, 20);
  color: white;
  font-weight: bolder;
  margin-top: 2rem;
}

ion-toolbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ion-searchbar {
  position: sticky; /* Mantener el buscador fijo */
  top: 0; /* Fijar en la parte superior */
  z-index: 10; /* Asegurarte de que esté sobre otros elementos */
}
