<ion-content>
  <div class="login-container">
    <div class="containerLogo">
      <ion-img
        class="logo"
        src="assets/img/CryptoApp-LogoClaro.png"
        alt="logo CryptoApp"
      />
    </div>
    <div class="login-box">
      <div class="tabs">
        <ion-button [ngClass]="{ active: isSignIn }" (click)="toggleSignIn()">
          Ingresar
        </ion-button>
        <ion-button [ngClass]="{ active: !isSignIn }" (click)="toggleSignUp()">
          Registrarse
        </ion-button>
      </div>

      <ion-list class="list-ionic" *ngIf="isSignIn">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
          ></ion-input>
        </ion-item>

        <ion-item id="keep-sign" lines="none">
          <ion-checkbox
            slot="start"
            [(ngModel)]="rememberEmail"
            name="rememberEmail"
          ></ion-checkbox>
          <ion-label>Recordar email</ion-label>
        </ion-item>

        <ion-button id="btn-sign-in" expand="block" (click)="onSignIn()"
          >Ingresar</ion-button
        >
        <ion-text class="forgot-password" (click)="goToForgotPassword()">
          ¿Olvidaste tu contraseña?
        </ion-text>
      </ion-list>

      <ion-list class="list-ionic" *ngIf="!isSignIn">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email2"
            name="email2"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password2"
            name="password"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Repetir Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="repeatPassword"
            name="repeatPassword"
          ></ion-input>
        </ion-item>

        <ion-button id="btn-sign-up" expand="block" (click)="onSignUp()"
          >Registrarse</ion-button
        >
      </ion-list>
    </div>
  </div>
</ion-content>
