<ion-content>
  <div class="login-container">
    <div class="login-box">
      <h2>Recuperar Contraseña</h2>
      
      <form>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="sendResetEmail()" id="btn-reset">
          Enviar Email
        </ion-button>

        <ion-button expand="block" fill="clear" (click)="goBack()">
          Volver al Login
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>